
 /* district navigation bar */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  .navbar{
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  .navbar ul li{
    width: 200px;
    position: relative;
    text-align: right;
  }
  
  .navbar ul li .dot{
    color: #69990F;
    font-weight: bold;
    display: block;
    padding: 5px 0;
 
  }
  .navbar ul li .dot span{
    display: inline-block;
    background: #fff;
    letter-spacing: 1px;
    padding: 10px 25px;
    margin-right: 30px;
    border-radius: 3px;
    transform: translateX(30px);
    opacity: 0;
  }
  .navbar ul li:hover .dot span{
    transform: translateX(0px);
    opacity: 1;
 
  }
  .navbar ul li .dot span::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(7px, -50%);
    border-left: 7px solid #fff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: block;
 
  }
  
  .navbar ul li .dot::before,
  .navbar ul li .dot::after{
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
    
  }
  .navbar ul li .dot::before{
    height: 5px;
    width: 5px;
    border: 3px solid #fff;
    right: 0;
    transform: translateX(-50%);
  }
  .navbar ul li .dot .active::before
  .navbar ul li:hover .dot::before
  {
    border-color: #69990F;
    background: #69990F;
 
  }
  .navbar ul li .dot::after{
    height: 15px;
    width: 15px;
    border: 2px solid #69990F;
    right: -5px;
    transform: translateY(-50%) scale(0);
  }
  .navbar ul li .dot.active::after
  .navbar ul li:hover .dot::after
  {
    
    transform: translateY(-50%) scale(1);
  }




  /* ---------------main content----------------- */
  .maincontent{
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    /* width: 100vw; */
    /* display: inline-flex; */
    
  }
  .bg_color{
    background-color: #69990F;
    margin-left: 900px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 110vh;
    width: 94vh;
  }
  .content{
    display: inline-flex;
    padding-top: 30px;
    /* margin-bottom: -1000px; */
  }
  .text_content{
    margin-left: -850px;
    display: inline-block;
    height: 200px;
    width: 400px;
    text-align: justify;
  }
  .img{
    margin-left: 100px;
  }
  .img_grp{
    display: inline-flex;
    /* margin-right: 1000px; */
    margin-top: 0px;
    margin-left: -630px;
  }
  /* .img2{
    margin-top: -1000px;
  } */
  .name{
    font-size: 4em;
  }


  /* ----------------card destination--------------------- */
  .card-text{
    text-align: justify;
  }
  

  .card{
    margin-left: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(213, 231, 193, 0.89);
    border-top: 1px solid rgba(61, 131, 4, 0.856);
    border-left: 1px solid rgba(61, 131, 4, 0.856);
   
  }
  .card-img-top{
    border-radius: 15px;
  }