.content1{
   margin-top: 200px;
   margin-left: 800px;
   margin-bottom: 50px;
   margin-right: -450px;
}
.content2{
    height: 300px;
    width: 600px;
    margin-top: 400px;
    margin-left: 150px;
    margin-bottom: 50px;
    /* margin-right: -250px; */
 }
 .content3{
    height: 300px;
    width: 800px;
    margin-top: 200px;
    /* margin-left: 700px; */
    /* margin-bottom: 50px; */
    /* margin-right: -250px; */
 }

 .image{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
 }


 /* activity */
/* body{
   background: #111;
   font-family: 'poppins',sans-serif;
} */
.activity{
   /* background: #69990F; */
   height: 700px;
 }
.honeycomb{
   display: -webkit-box;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0;
   transform: translateY(80px);
}

.honeycomb-cell{
   -webkit-box-flex: 0;
   flex: 0 1 250px;
   max-width: 250px;
   height: 137.5px;
   margin: 65.4px 12.5px 25px;
   position: relative;
   padding: 0.5em;
   text-align: center;
   z-index: 1;
   box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);
}
.honeycomb-cell_img{
   object-fit: cover;
   object-position: center;
   filter: grayscale(100%);
}
.honeycomb-cell_title{
   height: 100%;
   display: -webkit-box;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-hyphens: auto;
   hyphens: auto;
   word-break: break-word;
   text-transform: uppercase;
   color: #fff;
   font-weight: 700;
   font-size: 1.75em;
   transition: opacity 350ms;
}

.honeycomb-cell_title > small{
   font-weight: 300;
   margin-top: 0.25em;
}

.honeycomb-cell::before,
.honeycomb-cell::after
{
   content: '';
}
.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img
{
   top: -50%;
   left: 0;
   width: 100%;
   height: 200%;
   display: block;
   position: absolute;
   -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
   clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
   z-index: -1;
}
.honeycomb-cell::before
{
   /* background: #fff; */
   background: #69990F;
   transform: scale(1.055);
}
.honeycomb-cell::after{
   background: #111111;
   opacity: 0.7;
   transition: opacity 350ms;
   -webkit-transition: opacity 350ms;
}
.honeycomb-cell:hover
.honeycomb-cell_title
{
   opacity: 0;
}
.honeycomb-cell:hover,
.honeycomb-cell_img
{
   filter: grayscale(0%);
}
.honeycomb-cell:hover:before
{
   background: #30fceb;
}
.honeycomb-cell:hover::after
{
   opacity: 0;
}
.honeycomb-Hidden
{
   display: none;
   opacity: 0;
   width: 250px;
   margin: 1 12.5px;

}


/* ***************Responsive************* */
@media (max-width :550px)
{
   .honeycomb-cell
   {
       margin: 81.25px 25px;
   }
}

@media (max-width :550px) and (max-width :825px)
{
   
   .honeycomb-cell:nth-child(3n)
   {
       margin-right: calc(50% - 125px);
       margin-left: calc(50% - 125px);
   }
   .honeycomb-Hidden:nth-child(3n + 5)
   {
       display: block;
   }
}
@media (max-width :825px) and (max-width :1100px)
{
   .honeycomb-cell:nth-child(5n + 4)
   {
       
       margin-left: calc(50%  275px);
   }
   .honeycomb-cell:nth-child(5n + 5)
   {
       
       margin-left: calc(50%  275px);
   }
   .honeycomb-Hidden:nth-child(5n),
   .honeycomb-Hidden:nth-child(5n + 3)
   {
       display: block;
   }
}

@media (max-width :1100px)
{
   .honeycomb-cell:nth-child(7n + 5)
   {
       
       margin-left: calc(50% - 400px);
   }
   .honeycomb-cell:nth-child(7n + 7),
   .honeycomb-cell:nth-child(7n + 5):nth-child(2)
   {
       margin-right: calc(50% - 400px);
   }
   .honeycomb-Hidden:nth-child(7n + 7),
   .honeycomb-Hidden:nth-child(7n + 9),
   .honeycomb-Hidden:nth-child(7n + 11)
   {
       display: block;
   }
}

/* -----------------image Gallery------------------ */
.img-gallery{
   width: 80%;
   margin:100px auto 50px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
   grid-gap:30px;

 }
 .img3{
   width: 600px;
   height: 250px;
 }
 .img-gallery img{
   width: 100%;
   cursor: pointer;
 }
 .img-gallery img:hover{
   transform: scale(0.8) rotate(-15deg);
   border-radius: 20px;
   box-shadow: 0 32px 75px rgba(68,77,136,0.2);
   
 }




