*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .default-header{
    position: absolute;
    width: 100% !important;
    z-index: 9;
    position: fixed;
    background-color: #000; */
    
    /* -webkit-tap-highlight-color:transparent; */
    
    
/* } */
.navbar{
    /* flex-wrap: wrap; */
  
    /* position: fixed; */
    top: 0;
    z-index: 10;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}
.navbar ul.nav{
    margin-right: -150px;

}
.navbar ul.nav li.active{
    /* background: #fff; */
    color: #000;
}

.image{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
/* slider */

.carouselExampleIndicators{
    position: relative;
    height: 100vh;
    width: 100%;

}

.carouselExampleIndicators .carousel-inner{
    position: relative;
    height: 100%;
    width: 100%;
}

.text-block {
    position: absolute;
    bottom: 80px;
    /* right: 20px; */
    height: 200px;
    width: 420px;
    margin-top: 200px;
    margin-left: 550px;
    
    /* background-color: black; */
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
  .back{
    background-color:white;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .backtext{
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    margin-left: 120px;
    margin-right: 120px;
  }




  /* third slide services */

   

  .grid{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  
  .container2{
    margin-top:60px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
  }

  .Contacts{
    background: url(../photography/static/img3.jfif);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    
  }
  .container3{
    color: white;
    /* width: 1900px;
    height: 1700px; */
    /* text-align: center; */
  }
  .text{
    
    width: 300px;
    background-color: white;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .col-sm-2{
    margin-left: 40px;
    margin-right: 40px;
  }