*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 10;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}

.navbar ul.nav li.active{
    /* background: #fff; */
    color: #000;
}

/* slider */

.carouselExampleIndicators{
    position: relative;
    height: 100vh;
    width: 100%;

}

.carouselExampleIndicators .carousel-inner{
    position: relative;
    height: 100%;
    width: 100%;
    
    /* background: #000; */
    

}
.image{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.text-block {
    position: absolute;
    /* right: 20px; */
    height: 20%;
    width: 30%;
    margin-top: 20%;
    margin-left: 30%;
    
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
  .btn{
    background-color: orangered;
  }
  .secondslide{
    background-color: rgba(147, 153, 158, 0.763);
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  
  .form-group{
    margin-top: 50px;
    /* text-align: center; */
    width: 335px;
  }
  .carousel-caption{
    font-size: 20px;
  }

  .bgimg{
    text-align: center;
    background-image: url(../wildlife/static/leaf.jpg);
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    font-size: 30px;
    
    /* margin-left: 100px; */
    
    
    
  }
  .imglist{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
  .navlast{
    padding-top: 170px;
    /* word-spacing: 50px; */
    /* letter-spacing: 10px; */
    /* margin-top: 50px; */
  }